---
import sanityClient from "lib/sanityClient"
import BaseLayout from "layouts/BaseLayout.astro"
import PortableText from "components/PortableText.svelte"
import { videoQuery } from "lib/queries"

export async function getStaticPaths() {
  const data = await sanityClient.fetch(videoQuery).then(response => response)
  return data.videos.map(video => {
    return {
      params: { slug: post.slug },
      props: { video }
    }
  })
}
const { slug } = Astro.request.params
const { video } = Astro.props
---
<BaseLayout
  title={post.title}
  seoDescription={post.seoDescription}
  keywords={post.seoKeywords}
  seoTitle={post.seoTitle}
  slug={post.slug}
  twitterHandle={post.author.twitterHandle}
>
  <div>
    <h1>{video.title}</h1>
    <p>
      published on: {format(new Date(video.publishedAt), "eeee, do MMMM yyyy")}
    </p>
    {video.videoLink && <Video video={video} />}
  </div>
</BaseLayout>

<style lang="scss">
li {
  display: inline;
  &:not(:last-child)::after {
    content: ', ';
  }
}
</style>
