---
import { Maybe } from "astro-control"
import { PortableText } from "@portabletext/react"
import sanityClient from "lib/sanityClient"
import { buildUrl } from "lib/utils"
import BaseLayout from "layouts/BaseLayout.astro"
import { components } from "components/PortableTextComponents"
import VideoComponent from "components/VideoComponent.astro"
import { videosQuery } from "lib/queries"
import { Navigation, Settings, Video } from "lib/interfaces"

export async function getStaticPaths() {
  const data: {
    navigation: Navigation
    settings: Settings
    videos: Video[]
  } = await sanityClient.fetch(videosQuery).then(response => response)
  const { navigation, settings } = data
  return data.videos.map(video => {
    return {
      params: { slug: video.slug },
      props: { navigation, settings, video }
    }
  })
}

// const { slug } = Astro.params
const { navigation, settings, video } = Astro.props as {
  navigation: Navigation
  settings: Settings
  video: Video
}
---

<BaseLayout {navigation} {settings}>
  <div>
    <Maybe as="h2">{video.title}</Maybe>
    <Maybe as="p">{video.introduction}</Maybe>
    <Maybe as="p"
      >in:{" "}
      <a href={buildUrl(video.section._type, video.section.slug)}>
        {video.section.title}
      </a>
    </Maybe>
    {video.videoLink && <VideoComponent video={video} />}
    {video.body && <PortableText value={video.body} components={components} />}
  </div>
</BaseLayout>

<style lang="scss">
  li {
    display: inline;
    &:not(:last-child)::after {
      content: ", ";
    }
  }
</style>
