---
import { Maybe } from "astro-control"
import sanityClient from "lib/sanityClient"
import { PortableText } from "@portabletext/react"
import { buildUrl } from "lib/utils"
import BaseLayout from "layouts/BaseLayout.astro"
import { components } from "components/PortableTextComponents"
import Video from "components/VideoComponent.astro"
import { sectionsQuery } from "lib/queries"
import { Navigation, Section, Settings } from "lib/interfaces"

export async function getStaticPaths() {
  const data: {
    navigation: Navigation
    sections: Section[]
    settings: Settings
  } = await sanityClient.fetch(sectionsQuery).then(response => response)
  const { navigation, settings } = data
  return data.sections.map(section => {
    return {
      params: { slug: section.slug },
      props: { navigation, section, settings }
    }
  })
}
// const { slug } = Astro.params
const { navigation, section, settings } = Astro.props as {
  navigation: Navigation
  section: Section
  settings: Settings
}
---

<BaseLayout {navigation} {settings}>
  <div>
    <Maybe as="h1" class="title mb-sm serif text-white bold">
      {section.title}
    </Maybe>
    {section.body && (
      <PortableText value={section.body} components={components} />
    )}
    {section.video && (
      <p>
        <a href={buildUrl(section.video._type, section.video.slug)}>
          {section.video.title}
        </a>
      </p>
    )}
    {section.video && <Video video={section.video} />}
  </div>
</BaseLayout>

<style>
  .title {
    font-size: 7rem;
  }
</style>
