---
import sanityClient from "../../lib/sanityClient"
import { buildUrl } from "../../lib/utils"
import BaseLayout from "../../layouts/BaseLayout.astro"
import PortableText from "../../components/PortableText.svelte"
import Video from "../../components/Video.astro"
import { sectionQuery } from "../../lib/queries"

export async function getStaticPaths() {
  const data = await sanityClient.fetch(sectionQuery)
    .then(response => response)
  return data.sections.map(section => {
    return {
      params: { slug: section.slug },
      props: { section }
    }
  })
}
const { slug } = Astro.request.params
const { section } = Astro.props
---
<BaseLayout
  title={section.title}
  seoDescription={section.seoDescription}
  keywords={section.seoKeywords}
  seoTitle={section.seoTitle}
  siteDescription={section.seoDescription}
  slug={section.slug}
>
  <div>
    {section.title && <h1 class="title mb-sm serif text-white bold">{section.title}</h1>}
    {section.body && <PortableText body={section.body} />}
    {section.video &&
      <p>
        <a href={buildUrl(section.video._type, section.video.slug)}>
          {section.video.title}
        </a>
      </p>
    }
    {section.video && <Video video={section.video} />}
  </div>
</BaseLayout>

<style lang="scss">
.title {
  font-size: 7rem;
}
</style>
