---
import sanityClient from "lib/sanityClient"
import { PortableText } from "@portabletext/react"
import { buildUrl } from "lib/utils"
import BaseLayout from "layouts/BaseLayout.astro"
import { components } from "components/PortableTextComponents"
import Video from "components/VideoComponent.astro"
import { sectionQuery } from "lib/queries"
import { Section } from "lib/interfaces"

export async function getStaticPaths() {
  const data: { sections: Section[] } = await sanityClient.fetch(sectionQuery)
    .then(response => response)
  return data.sections.map(section => {
    return {
      params: { slug: section.slug },
      props: { section }
    }
  })
}
const { slug } = Astro.params
const { section } = Astro.props as { section: Section }
const { body, seoDescription, seoKeywords, seoTitle, title, video } = section
---
<BaseLayout
  keywords={seoKeywords}
  seoDescription={seoDescription}
  seoTitle={seoTitle}
  slug={slug}
  title={title}
>
  <div>
    {title && <h1 class="title mb-sm serif text-white bold">{title}</h1>}
    {body && <PortableText value={body} components={components} />}
    {video &&
      <p>
        <a href={buildUrl(video._type, video.slug)}>
          {video.title}
        </a>
      </p>
    }
    {video && <Video video={video} />}
  </div>
</BaseLayout>

<style>
.title {
  font-size: 7rem;
}
</style>
