---
import sanityClient from "../../lib/sanityClient"
import { buildUrl } from "../../lib/utils"
import BaseLayout from "../../layouts/BaseLayout.astro"
import PortableText from "../../components/PortableText"
import { components } from "../../components/PortableTextComponents"
import Video from "../../components/VideoComponent.astro"
import { sectionQuery } from "../../lib/queries"
import { Section } from "../../lib/interfaces"

export async function getStaticPaths() {
  const data: { sections: Section[] } = await sanityClient.fetch(sectionQuery)
    .then(response => response)
  return data.sections.map(section => {
    return {
      params: { slug: slug },
      props: { section }
    }
  })
}
const { slug } = Astro.request.params
const { section } = Astro.props as { section: Section }
const { body, seoDescription, seoKeywords, seoTitle, title, video } = section
---
<BaseLayout
  title={title}
  seoDescription={seoDescription}
  keywords={seoKeywords}
  seoTitle={seoTitle}
  siteDescription={seoDescription}
  slug={slug}
>
  <div>
    {title && <h1 class="title mb-sm serif text-white bold">{title}</h1>}
    {body && <PortableText value={body} components={components} />}
    {video &&
      <p>
        <a href={buildUrl(video._type, video.slug)}>
          {video.title}
        </a>
      </p>
    }
    {video && <Video video={video} />}
  </div>
</BaseLayout>

<style lang="scss">
.title {
  font-size: 7rem;
}
</style>
