---
import format from "date-fns/format"
import sanityClient from "../../lib/sanityClient.ts"
import { buildUrl, twitterLink } from "../../lib/utils.ts"
import BaseLayout from "../../layouts/BaseLayout.astro"
import PortableText from "../../components/PortableText"
import { components } from "../../components/PortableTextComponents"
import { authorQuery } from "../../lib/queries"
import { Author } from "../../lib/interfaces"

export async function getStaticPaths( ) {
  const data: { authors: Author[] } = await sanityClient.fetch(authorQuery)
    .then((response: any) => response)
  return data.authors.map(author => {
    return {
      params: { slug: author.slug },
      props: { author }
    }
  })
}

const { slug } = Astro.request.params
const { author } = Astro.props as { author: Author }
const { bio, name, posts, twitterHandle } = author
const title = `Author: ${name}`
---
<BaseLayout title={title}>
  <div>
    <h2>{title}</h2>
    {twitterHandle && <p>
      <a
        href={twitterLink(twitterHandle)}
        target="_blank"
        rel="noreferrer">{twitterHandle}
      </a>
    </p>}
    <h2>Bio</h2>
    <PortableText value={bio} components={components} />
    <br>
    <h2>Posts</h2>
    <ul>
      {posts.map(post =>
        <li>
          <a href={buildUrl(post._type, post.slug)}>{post.title}</a><br>
          {format(new Date(post.publishedAt), "eeee, do MMMM yyyy")}
        </li>
      )}
    </ul>
    <br>
    <p><a href="/authors">All authors</a></p>
  </div>
</BaseLayout>
