---
import { Markdown } from "astro/components"
import groq from "groq"
import sanityClient from "lib/sanityClient"
import BaseLayout from "layouts/BaseLayout.astro"
import { dateOptions } from "lib/utils"

export async function getStaticPaths( ) {
  const query = groq`{
    "authors": *[_type == "author"]{
      bio,
      name,
      "posts": *[_type == "post" && author._ref == ^._id] | order(publishedAt desc){
        publishedAt, title, slug
      },
      "slug": slug.current
    }[count(posts) > 0]
  }`
  const data = await sanityClient.fetch(query).then(response => response)
  return data.authors.map(author => {
    return {
      params: { slug: author.slug },
      props: { author }
    }
  })
}

const { slug } = Astro.request.params
const { author } = Astro.props
const title = `Author: ${author.name}`
---
<BaseLayout title={title}>
  <div>
    <h1>{title}</h1>
    <br>
    <h2>Bio</h2>
    <Markdown>{author.bio}</Markdown>
    <br>
    <h2>Posts</h2>
    <ul>
      {author.posts.map(item =>
        <li><a href="/blog/${item.slug.current}">{item.title}</a><br>
          {new Date(item.publishedAt).toLocaleDateString("en-GB", dateOptions)}
        </li>
      )}
    </ul>
    <br>
    <p><a href="/authors">All authors</a></p>
  </div>
</BaseLayout>
