---
import format from "date-fns/format"
import sanityClient from "lib/sanityClient"
import BaseLayout from "layouts/BaseLayout.astro"
import PortableText from "components/PortableText.svelte"
import { authorQuery } from "lib/queries"

export async function getStaticPaths( ) {
  const data = await sanityClient.fetch(authorQuery).then(response => response)
  return data.authors.map(author => {
    return {
      params: { slug: author.slug },
      props: { author }
    }
  })
}

const { slug } = Astro.request.params
const { author } = Astro.props
const title = `Author: ${author.name}`
---
<BaseLayout title={title}>
  <div>
    <h1>{title}</h1>
    <br>
    <h2>Bio</h2>
    <PortableText body={author.bio} />
    <br>
    <h2>Posts</h2>
    <ul>
      {author.posts.map(post =>
        <li><a href="/blog/${post.slug.current}">{post.title}</a><br>
          {format(new Date(post.publishedAt), "eeee, do MMMM yyyy")}
        </li>
      )}
    </ul>
    <br>
    <p><a href="/authors">All authors</a></p>
  </div>
</BaseLayout>
