---
import { Maybe } from "astro-control"
import format from "date-fns/format"
import sanityClient from "lib/sanityClient.ts"
import { buildUrl } from "lib/utils.ts"
import BaseLayout from "layouts/BaseLayout.astro"
import { authorsQuery } from "lib/queries"
import { Author, Navigation, Settings } from "lib/interfaces"

export async function getStaticPaths() {
  const data: {
    authors: Author[]
    navigation: Navigation
    settings: Settings
  } = await sanityClient.fetch(authorsQuery).then(response => response)
  const { navigation, settings } = data
  return data.authors.map(author => {
    return {
      params: { slug: author.slug },
      props: { author, navigation, settings }
    }
  })
}

// const { slug } = Astro.params
const { author, navigation, settings } = Astro.props as {
  author: Author
  navigation: Navigation
  settings: Settings
}
const title = `Author: ${author.name}`
---

<BaseLayout {navigation} {settings} {title}>
  <div>
    <h2>{title}</h2>
    <h2>Bio</h2>
    <Maybe as="p">{author.bio}</Maybe>
    <br />
    <h2>Posts</h2>
    <ul>
      {author.posts &&
        author.posts.map(post => (
          <li>
            <a href={buildUrl(post._type, post.slug)}>{post.title}</a>
            <br />
            {format(new Date(post.settings.publishedAt), "eeee, do MMMM yyyy")}
          </li>
        ))}
    </ul>
    <br />
    <p><a href="/authors">All authors</a></p>
  </div>
</BaseLayout>
