---
import sanityClient from "lib/sanityClient"
import { socialImage } from "lib/utils"
import BaseHead from "components/BaseHead.astro"
import Footer from "components/Footer.astro"
import Header from "components/Header.astro"
import { layoutQuery } from "lib/queries"
import { Image, Site } from "lib/interfaces"
import "styles/global.scss"

interface Props {
  title: string
  keywords?: string
  slug?: string
  seoTitle?: string
  seoDescription?: string
  seoImage?: Image
  twitter?: string
  twitterHandle?: string
}
const response = await sanityClient.fetch(layoutQuery)
const data: { site: Site } = await response
const {
  title,
  keywords,
  slug,
  seoTitle,
  seoDescription,
  seoImage,
  twitterHandle
} = Astro.props
const pageTitle = `
  ${title && title + " | "}${data.site.siteName}
  | Improve wellbeing through meditation
`
const socialimageUrl = socialImage(seoImage || data.site.seoImage)
---
<html lang="en">
  <head>
    <BaseHead
      title={pageTitle}
      description={seoDescription || data.site.siteDescription}
      keywords={keywords || data.site.keywords}
      permalink={`${data.site.siteURL}/${slug || ''}`}
      seoTitle={seoTitle || data.site.seoTitle}
      seoDescription={seoDescription || data.site.seoDescription}
      seoImage={socialimageUrl}
      siteName={data.site.siteName}
      siteURL={data.site.siteURL}
      twitterHandle={twitterHandle || data.site.twitterHandle}
    />
  </head>
  <body>
    <div id="app">
      <div class="flex flex-wrapper">
        <Header siteName={data.site.siteName} />
        <main class="site-main container--body mb-lg">
          <slot />
        </main>
        <Footer site={data.site} />
      </div>
    </div>
  </body>
</html>

<style>
.flex-wrapper {
  flex-direction: column;
  min-height: 100vh;
}

.site-main {
  position: relative;
  z-index: 5;
}
</style>
