---
import "sanitize.css/sanitize.css"
import "sanitize.css/assets.css"
import "sanitize.css/reduce-motion.css"
import "styles/global.scss"
import sanityClient from "lib/sanityClient"
import Footer from "components/Footer.astro"
import Header from "components/Header.astro"
import { layoutQuery } from "lib/queries"
import { Navigation, Settings } from "lib/interfaces"

const response = await sanityClient.fetch(layoutQuery)
const data: {
  navigation: Navigation
  settings: Settings
} = await response
const { navigation, settings } = data

// const pageTitle = `
//   ${title && title + " | "}${data.site.siteName}
//   | Improve wellbeing through meditation
// `
// const socialimageUrl = socialImage(seoImage || data.site.seoImage)
---
<html lang="en">
  <head>
    <!-- <BaseHead
      title={pageTitle}
      description={seoDescription || data.site.siteDescription}
      keywords={keywords || data.site.keywords}
      permalink={`${data.site.siteURL}/${slug || ''}`}
      seoTitle={seoTitle || data.site.seoTitle}
      seoDescription={seoDescription || data.site.seoDescription}
      seoImage={socialimageUrl}
      siteName={data.site.siteName}
      siteURL={data.site.siteURL}
      twitterHandle={twitterHandle || data.site.twitterHandle}
    /> -->
  </head>
  <body>
    <div id="app">
      <div class="flex flex-wrapper">
        <Header {navigation} {settings} />
        <main class="site-main container--body mb-lg">
          <slot />
        </main>
        <Footer site={settings} />
      </div>
    </div>
  </body>
</html>

<style lang="scss">
.flex-wrapper {
  flex-direction: column;
  min-height: 100vh;
}

.site-main {
  position: relative;
  z-index: 5;
}
</style>
