---
import "sanitize.css/sanitize.css"
import "sanitize.css/assets.css"
import "sanitize.css/reduce-motion.css"
import "styles/global.scss"
import Footer from "components/Footer.astro"
import Header from "components/Header.astro"
import { Navigation, Settings } from "lib/interfaces"

const { navigation, settings } = Astro.props as {
  navigation: Navigation
  settings: Settings
}
---
<html lang="en">
  <head>
    <!-- <BaseHead
      title={pageTitle}
      description={seoDescription || data.site.siteDescription}
      keywords={keywords || data.site.keywords}
      permalink={`${data.site.siteURL}/${slug || ''}`}
      seoTitle={seoTitle || data.site.seoTitle}
      seoDescription={seoDescription || data.site.seoDescription}
      seoImage={socialimageUrl}
      siteName={data.site.siteName}
      siteURL={data.site.siteURL}
      twitterHandle={twitterHandle || data.site.twitterHandle}
    /> -->
  </head>
  <body>
    <div id="app">
      <div class="flex flex-wrapper">
        <Header {navigation} {settings} />
        <main class="site-main container--body mb-lg">
          <slot />
        </main>
        <Footer site={settings} />
      </div>
    </div>
  </body>
</html>

<style lang="scss">
.flex-wrapper {
  flex-direction: column;
  min-height: 100vh;
}

.site-main {
  position: relative;
  z-index: 5;
}
</style>
