---
import { Markdown } from "astro/components"
import groq from "groq"
import sanityClient from "../lib/sanityClient"
import BaseLayout from "../layouts/BaseLayout.astro"
import Blog from "../components/Blog.astro"
import Contact from "../components/Contact.astro"
import Image from "../components/Image.astro"

export async function getStaticPaths() {
  const query = groq`{
    "pages": *[_type == "page"]{
      _id,
      mainImage,
      menuTitle,
      "slug": slug.current,
      template[0],
      title
    }
  }`
  const data = await sanityClient.fetch(query).then(response => response)
  return data.pages.map(page => {
    return {
      params: { slug: page.slug },
      props: { page }
    }
  })
}
const { slug } = Astro.request.params
const { page } = Astro.props
---
<BaseLayout
  title={page.title}
  seoDescription={page.seoDescription}
  keywords={page.seoKeywords}
  seoTitle={page.seoTitle}
  siteDescription={page.seoDescription}
  slug={page.slug}
>
  <div>
    <h1>{page.title}</h1>
    {page.mainImage &&
      <Image
        caption={page.title}
        image={page.mainImage}
        width={900}
        height={600}
        lazy={false}
      />
    }
    {page.body &&
      <Markdown>{page.body}</Markdown>
    }
    {page.template === "blog" && <Blog />}
    {page.template === "contact" && <Contact />}
  </div>
</BaseLayout>
