---
import { PortableText } from "@portabletext/react"
import sanityClient from "lib/sanityClient"
import BaseLayout from "layouts/BaseLayout.astro"
import Blog from "components/Blog.astro"
import ContactForm from "components/ContactForm.svelte"
import { components } from "components/PortableTextComponents"
import { pagesQuery } from "lib/queries"
import { Navigation, Settings, Page } from "lib/interfaces"

export async function getStaticPaths() {
  const data: {
    pages: Page[]
    navigation: Navigation
    settings: Settings
  } = await sanityClient.fetch(pagesQuery).then(response => response)
  const { navigation, settings } = data
  return data.pages.map(page => {
    return {
      params: { slug: page.slug },
      props: { page, navigation, settings }
    }
  })
}

// const { slug } = Astro.params
const { page, navigation, settings } = Astro.props as {
  page: Page
  navigation: Navigation
  settings: Settings
}
---
<BaseLayout {navigation} {settings} >
  <div>
    <h1 class="title bold text-white serif">{page.title}</h1>
    {page.body && <PortableText value={page.body} components={components} />}
    {page.template === "blog" && <Blog />}
    {page.template === "contact" && <ContactForm client:idle />}
  </div>
</BaseLayout>

<style>
.title {
  font-size: 7rem;
}
</style>
