---
import sanityClient from "lib/sanityClient"
import BaseLayout from "layouts/BaseLayout.astro"
import Blog from "components/Blog.astro"
import ContactForm from "../components/ContactForm.svelte"
import Image from "components/Image.astro"
import PortableText from "components/PortableText.svelte"
import { pageQuery } from "lib/queries"

export async function getStaticPaths() {
  const data = await sanityClient.fetch(pageQuery).then(response => response)
  return data.pages.map(page => {
    return {
      params: { slug: page.slug },
      props: { page }
    }
  })
}
const { slug } = Astro.request.params
const { page } = Astro.props
---
<BaseLayout
  title={page.title}
  seoDescription={page.seoDescription}
  keywords={page.seoKeywords}
  seoTitle={page.seoTitle}
  siteDescription={page.seoDescription}
  slug={page.slug}
>
  <div>
    <h2>{page.title}</h2>
<!--     {page.mainImage &&
      <Image
        caption={page.title}
        image={page.mainImage}
        width={900}
        height={600}
        lazy={false}
      />
    } -->
    {page.body &&
      <PortableText body={page.body} />
    }
    {page.template === "blog" && <Blog />}
    {page.template === "contact" && <ContactForm client:idle />}
  </div>
</BaseLayout>
