---
import sanityClient from "../lib/sanityClient"
import BaseLayout from "../layouts/BaseLayout.astro"
import Blog from "../components/Blog.astro"
import ContactForm from "../components/ContactForm.svelte"
// import Image from "../../components/Image.astro"
import PortableText from "../components/PortableText"
import { components } from "../components/PortableTextComponents"
import { pageQuery } from "../lib/queries"
import { Page } from "../lib/interfaces"

export async function getStaticPaths() {
  const data: { pages: Page[] } = await sanityClient
    .fetch(pageQuery)
    .then(response => response)
  return data.pages.map(page => {
    return {
      params: { slug: page.slug },
      props: { page }
    }
  })
}
const { slug } = Astro.request.params
const { page } = Astro.props as { page: Page }
const {
  body,
  mainImage,
  seoDescription,
  seoKeywords,
  seoTitle,
  template,
  title
} = page
---
<BaseLayout
  keywords={seoKeywords}
  seoDescription={seoDescription}
  seoTitle={seoTitle}
  slug={slug}
  title={title}
>
  <div>
    <h1 class="title bold text-white serif">{title}</h1>
    <!-- {mainImage &&
      <Image
        caption={title}
        image={mainImage}
        width={900}
        height={600}
        lazy={false}
      />
    } -->
    {body && <PortableText value={body} components={components} />}
    {template === "blog" && <Blog />}
    {template === "contact" && <ContactForm client:idle />}
  </div>
</BaseLayout>

<style>
.title {
  font-size: 7rem;
}
</style>
