---
import format from "date-fns/format"
import sanityClient from "lib/sanityClient"
import { buildUrl } from "lib/utils"
import BaseLayout from "layouts/BaseLayout.astro"
import { authorsQuery } from "lib/queries"
import { Author, Navigation, Settings } from "lib/interfaces"

const response = await sanityClient.fetch(authorsQuery)
const data: {
  authors: Author[]
  navigation: Navigation
  settings: Settings
} = await response
const { authors, navigation, settings } = data as {
  authors: Author[]
  navigation: Navigation
  settings: Settings
}
const title = "All Authors"
---

<BaseLayout {navigation} {settings}>
  <div>
    <h2>{title}</h2>
    <br />
    <ul>
      {authors.map(author => (
        <li>
          <a href={buildUrl(author._type, author.slug)}>{author.name}</a>
          <ul>
            {author.posts.map(post => (
              <li>
                <p>
                  <a href={buildUrl(post._type, post.slug)}>{post.title}</a>
                </p>
                <p>
                  {format(
                    new Date(post.settings.publishedAt),
                    "eeee, do MMMM yyyy"
                  )}
                </p>
              </li>
            ))}
          </ul>
        </li>
      ))}
    </ul>
  </div>
</BaseLayout>
