---
import format from "date-fns/format"
import sanityClient from "lib/sanityClient"
import { buildUrl } from "lib/utils"
import BaseLayout from "layouts/BaseLayout.astro"
import { tagsQuery } from "lib/queries"
import { Navigation, Settings, Tag } from "lib/interfaces"

const response = await sanityClient.fetch(tagsQuery)
const data: {
  navigation: Navigation
  settings: Settings
  tags: Tag[]
} = await response
const { navigation, settings, tags } = data as {
  navigation: Navigation
  settings: Settings
  tags: Tag[]
}
const title = "All Tags"
---

<BaseLayout {navigation} {settings}>
  <div>
    <h2>{title}</h2>
    <br />
    <ul>
      {tags.map(tag => (
        <li>
          <a href={buildUrl(tag._type, tag.slug)}>{tag.title}</a>
          <ul>
            {tag.posts.map(post => (
              <li>
                <p>
                  <a href={buildUrl(post._type, post.slug)}>{post.title}</a>
                </p>
                <p>
                  {format(
                    new Date(post.settings.publishedAt),
                    "eeee, do MMMM yyyy"
                  )}
                </p>
              </li>
            ))}
          </ul>
        </li>
      ))}
    </ul>
  </div>
</BaseLayout>
