---
import groq from "groq"
import format from "date-fns/format"
import sanityClient from "lib/sanityClient"
import BaseLayout from "layouts/BaseLayout.astro"
import { dateOptions } from "lib/utils"

export async function getStaticPaths() {
  const query = groq`{
    "categories": *[_type == "category"] | order(title){
      _id,
      "posts": *[_type == "post" && references(^._id)] | order(publishedAt desc){
        publishedAt, title, slug
      },
      "slug": slug.current,
      title,
      _id
    }[count(posts) > 0]
  }`
  const data = await sanityClient.fetch(query).then(response => response)
  return data.categories.map(category => {
    return {
      params: { slug: category.slug },
      props: { category }
    }
  })
}

const { slug } = Astro.request.params
const { category } = Astro.props
const title = `Category: ${category.title}`
---
<BaseLayout title={title}>
  <div>
    <h1>{title}</h1>
    <br>
    <ul>
      {category.posts.map(post =>
        <li><a href="/blog/${post.slug.current}">{post.title}</a><br>
          {format(new Date(post.publishedAt), "eeee, do MMMM yyyy")}
        </li>
      )}
    </ul>
    <br>
    <p><a href="/categories">All categories</a></p>
  </div>
</BaseLayout>
