---
import format from "date-fns/format"
import { PortableText } from "@portabletext/react"
import sanityClient from "lib/sanityClient"
import { article, buildUrl, twitterLink } from "lib/utils"
import BaseLayout from "layouts/BaseLayout.astro"
import CommentForm from "components/CommentForm.svelte"
import { components } from "components/PortableTextComponents"
import { postsQuery } from "lib/queries"
import { Post } from "lib/interfaces"

export async function getStaticPaths() {
  const data: { posts: Post[] } = await sanityClient
    .fetch(postsQuery)
    .then(response => response)
  return data.posts.map(post => {
    return {
      params: { slug: post.slug },
      props: { post }
    }
  })
}
const { slug } = Astro.request.params
const { post } = Astro.props as { post: Post }
const {
  _id,
  author,
  body,
  categories,
  comments,
  publishedAt,
  seoDescription,
  seoKeywords,
  seoTitle,
  title
} = post
---
<BaseLayout
  title={title}
  seoDescription={seoDescription}
  keywords={seoKeywords}
  seoTitle={seoTitle}
  slug={slug}
  twitterHandle={author.twitterHandle}
>
  <section>
    {title && <h1 class="title text-white serif bold">{title}</h1>}
    published on: {format(new Date(publishedAt), "eeee, do MMMM yyyy")}
    <p>
      {"by: "}<a href={buildUrl(author._type, author.slug)}>
        {author.name}
      </a>
    </p>
    {categories && <ul>
      {"in: "}{categories.map(category =>
        <li>
          <a href={buildUrl(category._type, category.slug)}>
            {category.title}
          </a>
        </li>
      )}
    </ul>}
    <div class="body">
      {body && <PortableText value={body} components={components} />}
      {author && <p>
        {author.twitterHandle
          ? <a
              href={twitterLink(author.twitterHandle)}
              target="_blank"
              rel="noreferrer"
            >{author.name}</a> : {author.name}}{" is "}
        {article(author.occupation)}{" "}{author.occupation}
      </p>}
    </div>
    <CommentForm client:idle id={_id} />
    {comments.map(comment =>
      <p>{comment.message}</p>
      <p>by {comment.name} on {
        format(new Date(comment._createdAt), "eeee, do MMMM yyyy")
      }</p>
    )}
  </section>
</BaseLayout>

<style lang="scss">
li {
  display: inline;
  &:not(:last-child)::after {
    content: ', ';
  }
}

.title {
  margin-bottom: 4rem;
  font-size: 7rem;
}

.body {
  margin-top: 7rem;
}
</style>
