---
import groq from "groq"
import sanityClient from "../sanityClient"
import BaseLayout from "../layouts/BaseLayout.astro"

const query = groq`{
  "site": *[_type == "site"][0]{
    keywords, siteDescription, siteName
  },
  "sections": *[_type == "section"]{
    _id,
    menuTitle,
    "slug": slug.current,
    subtitle
  }
}`
const response = await sanityClient.fetch(query)
const data = await response
const title = data.site.siteName
---
<BaseLayout>
  <section>
    <h1>{data.site.siteName}</h1>
    <ul>
      {data.sections.map(section =>
        <li key={section.id}>
          <a href="/section/${section.slug}">{section.menuTitle}</a><br />
          {section.subtitle}
        </li>
      )}
    </ul>
  </section>
</BaseLayout>

<!-- prettier-ignore -->
<style>
</style>
